@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff')
    format('woff');
}
@font-face {
  font-family: 'BCSans-Italic';
  font-style: italic;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff')
    format('woff');
}
@font-face {
  font-family: 'BCSans-Bold';
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff')
    format('woff');
}
@font-face {
  font-family: 'BCSans-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff')
    format('woff');
}
.MuiDrawer-paperAnchorLeft {
  margin-top: 4.2em !important;
}

.custom-file-upload {
  width: 1000px !important;
  height: 200px !important;
  padding-left: 20%;
}

.upload-container{
  position: relative;
  display: flex;
  align-items: center;
  min-width: 400px;
  max-width: 1000px;
  border: 2px dashed rgb(6, 88, 194);
  border-radius: 5px;
  cursor: pointer;
  padding: 50px 100px 50px 110px
}

.upload-children{
  width: max-content;
  align-items: center;
  margin: auto;
}

.file-list, .file-drop-list{
  width: 1000px;
  align-items: center;
  margin: auto;
}

.all-file-action{
 float: right;
}